.about {
    display: grid;
    grid-template-columns: 34% auto;
    gap: 4.5rem 1.5rem;
    margin-bottom: 6.5rem;

    @include breakpoint-up(medium) {
        padding: 0 $spacing-tablet;
        gap: 4.5rem 2rem;
        margin-bottom: 8.875rem;
    }

    @include breakpoint-up(desktop) {
        grid-template-columns: 20% 38% auto;
        grid-template-rows: 1fr 1fr;
        gap: 1.75rem 2rem;
        padding: 0 $spacing-desktop 10.5rem;
        
    }
}

.about__img {
    height: 51vw;
    background-size: cover;
    border-radius: 1.25rem;
    transform: translateX(-($spacing-mobile));

    &.left {
        background-image: url('/assets/mobile/image-phone-and-keyboard.jpg');
        background-color: $darkOrange;
        background-blend-mode: multiply;

        @include breakpoint-up(medium) {
            background-image: url('/assets/tablet/image-phone-and-keyboard.jpg');
        }

        @include breakpoint-up(desktop) {
            background-image: url('/assets/desktop/image-phone-and-keyboard.jpg');
        }
    }

    &.right {
        background-image: url('/assets/mobile/image-glass-and-keyboard.jpg');

        @include breakpoint-up(medium) {
            background-image: url('/assets/tablet/image-glass-and-keyboard.jpg');
        }

        @include breakpoint-up(desktop) {
            background-image: url('/assets/desktop/image-glass-and-keyboard.jpg');
        }
    }

    @include breakpoint-up(medium) {
        transform: translateX(0);
        height: 42vw;
    }

    @include breakpoint-up(desktop) {
        height: 33vw;
        grid-row: span 2;
    }
}


.about__heading {
    grid-column: span 2;
    margin: 0 3.75rem;
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center;

    @include breakpoint-up(medium) {
        grid-column: 1 / 2;
        margin: unset;
        text-align: left;
    }

    @include breakpoint-up(desktop) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: end;
        max-width: 12rem;
        margin-left: 6rem;
    }
}

.about__copy {
    grid-column: span 2;
    margin: 0 $spacing-mobile;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: center;

    @include breakpoint-up(medium) {
        grid-column: 2 / 3;
        grid-row: 2/3;
        align-self: center;
        text-align: left;
        margin: 0 0 0 2.25rem;
    }

    @include breakpoint-up(desktop) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        margin-left: 6rem;
        align-self: start;
    }
}