.hero {
    margin-bottom: 1.5rem;
}

.hero__copy {
    padding: 0 $spacing-mobile;
    margin-bottom: 4rem;
}

.hero__heading {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 3rem;
}

.hero__tagline {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.625rem;
}

.hero__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__cta__info {
    display: inline-block;
    padding: 0.75rem 0.875rem;
    font-size: 1rem;
    font-weight: $bold;
    line-height: 1.625rem;
    text-transform: uppercase;
}

.hero__image {
    margin-left: $spacing-mobile;
    height: 88vw;
    width: 100%;
    background-image: url('/assets/mobile/image-keyboard.jpg');
    background-size: cover;
    border-radius: 0.5rem 0 0 0.5rem;
}